.header-section {
  background-color: #CE2829;
  border: 1px solid #C20608;
  color: white;
  padding: 0px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 120px;
  margin: 0;
}

