
.success-section {
  background-color: #ce2829;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.success-title {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 200px;
  letter-spacing: 1px;
  text-align: center;
}

.success-message h2 {
  font-family: 'Roboto Condensed';
  color: #FFFFFF;
  font-size: 86px;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 92px;
  text-align: center;
  margin: 0;
  margin-bottom: 100px;
}

